@model WebApplication.Areas.Ecommerce.Models.HomeViewModel
@{

    Layout = "~/Areas/Ecommerce/Views/Shared/_layout.cshtml";
}

<div id="banner" class="jumbotron row">
    <h1 itemprop="name">Nosotros</h1>
</div>

<section class="page-section row">
    <div class="col-md-4">
       <img src="/Image/location.png" style="max-width:100%"/>
    </div>
    <div class="col-md-8">
        <p>Teléfono: 1168158463</p>
        <p>Mail: mbhardware@hotmail.com</p>
        <p>Horarios: 24hs</p>              
        <p>Venta de artículos informáticos, computación, hardware y accesorios.</p>
    </div>
</section>