@model WebApplication.Areas.Ecommerce.Models.HomeViewModel
@{

    Layout = "~/Areas/Ecommerce/Views/Shared/_layout.cshtml";
}

<div id="banner" class="jumbotron row">
    <h1 itemprop="name">Contacto</h1>
</div>