@model ecommerce.Models.Category

@{
    ViewBag.Title = "Get by id category";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetById</title>
</head>
<body>
    <div> 
        @Html.DisplayFor(x=>x.Id)
        @Html.DisplayFor(x => x.Name)
        @Html.DisplayFor(x => x.Doomy)

    </div>
</body>
</html>
