.navbar-brand {
    padding: 5px 15px;
}

.navbar-brand img {
    width: 70px;
}

.search-form {
        padding:15px;
        margin-top:2px;
    }

.navbar-btn {
    padding: 16px;
    margin-top: 2px
}


.navbar-btn .fa {
    margin: 0;
}
