<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderBody()
</head>
<body>
    <!-- START NAVBAR SEARCH -->
    <div class="topnav topnav-default topnav-fixed-top topnav-top">
        <div class="container">
            <div class="topnav-header">
                <li class="topnav-brand">Disponible las 24hs del día.</li>
            </div>
            <div class="topnav-collapse collapse">
                <nav>
                    <ul class="nav topnav-nav topnav-right">
                        <li><a class="page-scroll" href="#home">Home</a></li>
                        <li><a class="page-scroll" href="#about">Servicios</a></li>
                        <li><a class="page-scroll" href="#Camiones">Camiones</a></li>
                        <li><a class="page-scroll" href="#contact">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- END NAVBAR SEARCH -->
    <!-- START NAVBAR -->
    <div class="navbar navbar-default navbar-fixed-top menu-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand"><img src="assets/img/logo.png" alt="logo"></a>
            </div>
            <div class="navbar-collapse collapse">
                <nav>
                    <div class="nav navbar-nav navbar-right">
                        <div class="top-search">
                            <div id="search-by-category">
                                <div class="search-container">
                                    <input type="text" name="search" id="text-search" value="" placeholder="Search" class="" />
                                    <div class="categories-container">
                                        <div class="hover-cate">
                                            <p><span class="cate-selected" data-value="0">All Categories</span><i class="fa fa-angle-down"></i></p>
                                            <ul class="cate-items">
                                                <li class="item-cate" data-value="0">All Categories</li>
                                                <li data-value="127" class="item-cate">Books &amp; Office</li>
                                                <li data-value="56" class="item-cate">Computer &amp; Laptop</li>
                                                <li data-value="57" class="item-cate f1">Laptops</li>
                                                <li data-value="61" class="item-cate f2">Apple Laptops Price</li>
                                                <li data-value="58" class="item-cate f2">Dell Laptops Price</li>
                                                <li data-value="59" class="item-cate f2">HP Laptops Price</li>
                                                <li data-value="60" class="item-cate f2">HP Laptops Price</li>
                                                <li data-value="62" class="item-cate f1">Monitors</li>
                                                <li data-value="64" class="item-cate f2">Acer monitors</li>
                                                <li data-value="65" class="item-cate f2">Dell monitors</li>
                                                <li data-value="63" class="item-cate f2">Hp monitors</li>
                                                <li data-value="66" class="item-cate f2">Lg monitors</li>
                                                <li data-value="67" class="item-cate f1">RAM / Memory</li>
                                                <li data-value="70" class="item-cate f2">Acer memory</li>
                                                <li data-value="69" class="item-cate f2">Apple memory</li>
                                                <li data-value="68" class="item-cate f2">Dell memory</li>
                                                <li data-value="71" class="item-cate f2">Ibm memory</li>
                                                <li data-value="113" class="item-cate">Destop</li>
                                                <li data-value="119" class="item-cate f1">Gaming Desktops</li>
                                                <li data-value="123" class="item-cate f2">Alpha Desktop</li>
                                                <li data-value="121" class="item-cate f2">Erazer X315 Desktop</li>
                                                <li data-value="122" class="item-cate f2">Gamer Ultra Desktop </li>
                                                <li data-value="120" class="item-cate f2">ibuypower</li>
                                                <li data-value="114" class="item-cate f1">Headphones</li>
                                                <li data-value="118" class="item-cate f2">3D-Capable</li>
                                                <li data-value="117" class="item-cate f2">Clearance</li>
                                                <li data-value="116" class="item-cate f2">Free Shipping Eligible</li>
                                                <li data-value="115" class="item-cate f2">On Sale</li>
                                                <li data-value="131" class="item-cate">Electronics</li>
                                                <li data-value="125" class="item-cate">Fashion &amp; Accessories</li>
                                                <li data-value="126" class="item-cate">Health &amp; Beauty</li>
                                                <li data-value="130" class="item-cate">Home &amp; Kitchen</li>
                                                <li data-value="128" class="item-cate">Jewelry &amp; Watches</li>
                                                <li data-value="132" class="item-cate">Personal Care</li>
                                                <li data-value="72" class="item-cate">Photography</li>
                                                <li data-value="78" class="item-cate f1">Camcorders</li>
                                                <li data-value="82" class="item-cate f2">cube lifestyle hd</li>
                                                <li data-value="79" class="item-cate f2">gopro hero4</li>
                                                <li data-value="81" class="item-cate f2">handycam cx405</li>
                                                <li data-value="80" class="item-cate f2">vixia hf r600</li>
                                                <li data-value="73" class="item-cate f1">Digital Cameras</li>
                                                <li data-value="77" class="item-cate f2">Gold eye</li>
                                                <li data-value="76" class="item-cate f2">Questek</li>
                                                <li data-value="75" class="item-cate f2">Snm</li>
                                                <li data-value="74" class="item-cate f2">Vantech</li>
                                                <li data-value="88" class="item-cate f1">Memory Cards</li>
                                                <li data-value="89" class="item-cate f2">Samsung</li>
                                                <li data-value="90" class="item-cate f2">Sandisk</li>
                                                <li data-value="92" class="item-cate f2">Toshiba</li>
                                                <li data-value="91" class="item-cate f2">Transcend</li>
                                                <li data-value="83" class="item-cate f1">Photo Accessories</li>
                                                <li data-value="84" class="item-cate f2">Cords and Cables</li>
                                                <li data-value="86" class="item-cate f2">gps accessories</li>
                                                <li data-value="85" class="item-cate f2">Microphones</li>
                                                <li data-value="87" class="item-cate f2">Wireless Transmitters</li>
                                                <li data-value="133" class="item-cate">Small Appliances</li>
                                                <li data-value="93" class="item-cate">Smart phone &amp; Tablets</li>
                                                <li data-value="94" class="item-cate f1">Apple Phones</li>
                                                <li data-value="102" class="item-cate f2">iPad Mini 4</li>
                                                <li data-value="101" class="item-cate f2">iPad Pro</li>
                                                <li data-value="100" class="item-cate f2">iPhone 6s</li>
                                                <li data-value="99" class="item-cate f2">iPhone 6s Plus</li>
                                                <li data-value="103" class="item-cate f1">Motorola Phones</li>
                                                <li data-value="104" class="item-cate f2">Droid Turbo 2</li>
                                                <li data-value="107" class="item-cate f2">Moto 360 Sport (1st gen)</li>
                                                <li data-value="106" class="item-cate f2">Moto X Play Dual SIM</li>
                                                <li data-value="105" class="item-cate f2">Moto X Style</li>
                                                <li data-value="108" class="item-cate f1">Samsung Phones</li>
                                                <li data-value="112" class="item-cate f2">Galaxy J7</li>
                                                <li data-value="109" class="item-cate f2">Galaxy Note5 (CDMA)</li>
                                                <li data-value="110" class="item-cate f2">Galaxy Note5 Duos</li>
                                                <li data-value="111" class="item-cate f2">Galaxy Tab S2 9.7</li>
                                                <li data-value="129" class="item-cate">Sport &amp; Outdoor</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div id="sp-btn-search" class="">
                                    <button type="button" id="btn-search-category" class="btn btn-default btn-lg">
                                        Search
                                    </button>
                                </div>
                                <div class="search-ajax">
                                    <div class="ajax-loader-container" style="display: none;">
                                        <img src="http://demo.towerthemes.com/tt_bigone/image/catalog/AjaxLoader.gif" class="ajax-load-img" width="30" height="30" alt="plazathemes.com" />
                                    </div>
                                    <div class="ajax-result-container">
                                        <!-- Content of search results -->
                                    </div>
                                </div>
                                <input type="hidden" id="ajax-search-enable" value="1" />
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div><!--- END CONTAINER -->
    </div>
    <!-- END NAVBAR -->		
</body>
</html>
